= form_for @user do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :phone_number
    %br
    = f.text_field :phone_number
  - if @user.rolable_type == "merchant"
    = render 'merchant', merchant: @merchant
  %p
    = f.label :email
    %br
    = f.email_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation

  = f.hidden_field :rolable_type

  %p
    = f.submit "Sign up"
