= simple_form_for @user do |f|
  = f.input :name
  = f.input :phone_number
  - if @user.rolable_type == "merchant"
    = simple_fields_for @merchant do |mf|
      = mf.input :about

      = mf.simple_fields_for :addresses do |addr|
        = addr.input :street
        = addr.input :street_2
        = addr.input :city
        = addr.input :state
        = addr.input :zip
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :rolable_type, as: :hidden, input_html: { value: @user.rolable_type }

  = f.button :submit, "Sign up"
