= form_for :search, url: merchant_search_path, method: :post do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :city
    = f.text_field :city
  %p
    = f.label :zip
    = f.text_field :zip
  %p
    = f.submit "Search"
