%h1.center Customer Rewards
.container
  .row.span12
    .right.half Customer
    .half 
      = @customer_user.name
  .row.span12
    .right.half 
      = @merchant.earn_type
    .half 
      = @passbook.balance
  %br/
  .center
    = link_to 'Earn', nil, class: 'btn btn-large btn-primary'

  .row
    %h2.center Rewards Earned
    
    %hr.span6.offset3
    
    .reward_container.offset3.span6.center.border
      .border.reward_image
        = image_tag "http://placehold.it/50x50"
      .border.reward_text
        = @merchant.reward_program_name
      .border.reward_points
        = @merchant.reward_threshold_number 
        = @merchant.earn_type
  .center
    = link_to 'Redeem', nil, class: 'btn btn-large btn-primary'
  
  -#%h3 Customer:
  -#= debug(@customer) if user_session != nil
  -#%h3 Customer user:
  -#= debug(@customer_user) if user_session != nil
  -#%h3 Merchant:
  -#= debug(@merchant) if user_session != nil
  -#%h3 current_user:
  -#= debug(@current_user) if user_session != nil
  -#%h3 passbook:
  -#= debug(@passbook) if user_session != nil
  -#= debug(@merchant.user) if user_session != nil

